*.o
*.hex
*.lss
*.map
*.epp
*.mk
*.dat
*.elf
*.bin
*~
skydrop/.dep/
/skydrop/Release
/skydrop/Debug
/skydrop_sd_bootloader/Release
/skydrop_sd_bootloader/Debug
generated*.png
*.pyc
/skydrop/utils/.ipynb_checkpoints/

pcb/*.s#*
pcb/*.b#*
pcb/*.l#*
